$black: #000000;
$white: #ffffff;
$primary: #f50057;
$primary-light: #ff5983;
$primary-dark: #bb002f;
$secondary: #00e5ff;
$secondary-light: #6effff;
$secondary-dark: #00b2cc;
$tertiary: #1976d2;
$tertiary-light: #368ce3;
$tertiary-dark: #0d5093;
